<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center"> 
        <h1 style="text-align:center">EHR UPDATE </h1>
<app-patient-info></app-patient-info>
 <app-health-records></app-health-records> 
</div> -->

<ul class="list-group">
                <li class="list-group-item list-group-item-primary"> <a routerLink='/PatientInfos'><h2>PatientInfo</h2> </a></li>
                <!-- <li class="list-group-item list-group-item-secondary"><a routerLink='/HealthRecordss'><h2>HealthRecords</h2> </a></li>               -->
              </ul> <br>
              <router-outlet></router-outlet> 